<?xml version="1.0" ?>

<!--
	@category  Crankycyclops
	@package   Crankycyclops_DiscountCodeUrl
	@author    James Colannino
	@copyright Copyright (c) 2019 James Colannino
	@license   https://www.gnu.org/licenses/gpl-3.0.en.html GPL v3
 -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">

	<default>

		<promo>

			<discounturl>

				<enabled>0</enabled>
				<url_param>discount</url_param>
				<url_path_enabled>0</url_path_enabled>
				<cookie_lifetime>0</cookie_lifetime>

			</discounturl>

		</promo>

	</default>

</config>

