<?xml version="1.0" ?>

<!--
	@category  Crankycyclops
	@package   Crankycyclops_DiscountCodeUrl
	@author    James Colannino
	@copyright Copyright (c) 2019 James Colannino
	@license   https://www.gnu.org/licenses/gpl-3.0.en.html GPL v3
 -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

	<!-- Detects the discount code in the URL and set a cookie to remember it -->
	<type name="Magento\Framework\App\FrontControllerInterface">
		<plugin
			name="crankycyclops_discountcodeurl_frontcontrollerinterface"
			type="Crankycyclops\DiscountCodeUrl\Plugin\Framework\App\FrontControllerInterface"
		/>
	</type>

</config>

